<div
    class="max-w-4xl mx-auto mt-10 p-6 bg-gradient-to-r from-gray-800 to-gray-900 text-white rounded-xl shadow-xl animate-fadeIn">

    <div class="flex justify-between items-center mb-4">
        <h2 class="text-2xl font-bold">Your Passwords</h2>
        <button class="bg-blue-600 px-4 py-2 rounded hover:bg-blue-700" (click)="showAddForm = !showAddForm">
            {{ showAddForm ? 'Cancel' : 'Add New' }}
        </button>
    </div>

    <!-- Add New Password Form -->
    <div *ngIf="showAddForm" class="mb-6 space-y-2">
        <input [(ngModel)]="newPassword.title" placeholder="Title"
            class="w-full p-2 bg-gray-800 rounded focus:outline-none focus:ring-2 focus:ring-blue-600" />
        <input [(ngModel)]="newPassword.username" placeholder="Username"
            class="w-full p-2 bg-gray-800 rounded focus:outline-none focus:ring-2 focus:ring-blue-600" />
        <input [(ngModel)]="newPassword.password" placeholder="Password"
            class="w-full p-2 bg-gray-800 rounded focus:outline-none focus:ring-2 focus:ring-blue-600" />
        <button (click)="addPassword()" class="bg-green-600 px-4 py-2 rounded hover:bg-green-700">Save</button>
    </div>

    <!-- Password List -->
    <ul class="space-y-4">
        <li *ngFor="let pass of passwords"
            class="bg-gray-800 p-6 rounded-xl shadow-lg flex flex-col space-y-4 transition-transform transform hover:scale-105">

            <!-- Title and User Info -->
            <div class="flex justify-between items-center">
                <h3 class="text-xl font-semibold">{{ pass.title }}</h3>
            </div>

            <!-- Username and Password Info -->
            <p class="text-sm">
                Username: {{ pass.username }}
                <button (click)="copyToClipboard(pass.username)" class="text-gray-300 hover:text-gray-100">
                    <i class="fas fa-copy"></i>
                </button>
            </p>
            <p class="text-sm">
                Password: ********
                <button (click)="copyToClipboard(pass.password)" class="text-gray-300 hover:text-gray-100">
                    <i class="fas fa-copy"></i>
                </button>
            </p>

            <!-- Edit and Delete Buttons -->
            <div class="mt-2 flex space-x-4">
                <a [routerLink]="['/passwords', pass._id]"
                    class="text-blue-400 hover:underline flex items-center space-x-2">
                    <i class="fas fa-edit"></i>
                </a>
                <button (click)="deletePassword(pass._id)"
                    class="text-red-400 hover:underline flex items-center space-x-2">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </div>
        </li>
    </ul>
</div>